[Desktop Entry]
Type=Application
Name=deb 安装器
Name[zh_CN]=deb 软件包安装器
GenericName=deb Package Installer
Comment=图形化安装 deb 软件包
Comment[zh_CN]=图形化安装 deb 软件包
Exec=jnl-deb-installer %f
Icon=system-software-install
Terminal=false
MimeType=application/vnd.debian.binary-package;application/x-deb;application/x-debian-package;
Categories=System;PackageManager;
NoDisplay=false
StartupNotify=true
Keywords=deb;package;install;安装;软件包;
